<?xml version="1.0" encoding="LATIN1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


    <!-- ===== GENERAL DEFINITIONS ===== -->

        <!-- Configurer that replaces ${...} placeholders with values from properties files -->
        <!-- (in this case, mail and JDBC related properties) -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>WEB-INF/javadbc.properties</value>
            </list>
        </property>
    </bean>

    <bean id="sigaa" class="spring.sysmaqv.domain.logic.SigaaImpl">
        <property name="administracionDao" ref="administracionDao"/>
        <property name="personalDao" ref="personalDao"/> 
        <property name="registrosDao" ref="registrosDao"/>
        <property name="asistenciasDao" ref="asistenciasDao"/>
        <property name="profesoresDao" ref="profesoresDao"/>
        <property name="pensionesDao" ref="pensionesDao"/>
    </bean>

    <tx:advice id="txAdvice">
        <tx:attributes>
            <tx:method name="insert*"/>
            <tx:method name="update*"/>
            <tx:method name="*" read-only="true"/>
        </tx:attributes>
    </tx:advice>

</beans>
